.col_2.contact_page{
    span{
        display: block;
        color: var(--black);
        padding: 5px 0px;
    }
    a{
        display: inline-block;
        color: var(--black);
        padding: 5px 0px;
    }
    p{
        font-size: 14px;
    }
}

.social_media {
    width: 30px;
    height: 30px;
    margin: 10px;
    object-fit: contain;
  }
  p.copyright {
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    padding-bottom: 10%;
    padding-left: 2%;
    text-align: start;
  }
  p.copyright > a {
    color: #1bb944!important;
    transition: 0.4s all;
  }
  p.copyright > a:hover {
    text-decoration: underline;
    color: crimson!important;
  }
  input.input_contact {
    height: 50px;
    width: 80%;
    color: var(--black);
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    background: none;
    margin: 10px 0;
    border: 1px solid #1bb944;
    font-weight: 400;
  }
  .input_contact__message {
    width: 80%;
    color: var(--black);
    padding-left: 10px;
    background: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #1bb944;
    font-weight: 400;
    outline: none;
    padding-top: 10px;
  }
  input.btn {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 11px 26px 11px 26px;
    width: 30%;
    height: 50px;
    cursor: pointer;
  }
  .row.w100.flex.mobile {
    align-items: start;
  }
  
  .col_2.contact_form{
    h1{
        font-size: 35px;
        font-weight: 600;
        padding-top: 20px;
        color: var(--black);
    }
  }